*{
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #e88bbb;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

/* Navbar Section */
.navbar{
    background-color: #ffffe3;
}
.logo{
    float: left;
}
.menu{
    line-height: 70px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 5%;
    font-weight: bold;
}

/* Categories Section */
.categories{
    padding: 3%;
}
.offer-text-color{
    color: #47e6cb;
}
.box{
    width: 17%;
    float: left;
    margin: 3%;
}

/* Social Section */
.social{
	background-color: #ffffe3;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}


/* Contact Section */
.contact{
	background-color: #ffffe3;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}
.sub-table{
	width: 80%;
    position: relative;
    margin: 30px auto;
    border-collapse: collapse;
	border: 0;
}
.sub-td{
    height: 30px;       
    text-align: center;
    border: 0;
}

/* Menu Section */
.menu-text-color{
	color: red;
}
.box-menu{
    width: 50%;
    float: left;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.menu-float-text{
	position: absolute;
    top: 50px;
    left: 38%;
}

/* Selection Section */
.sub-menu{
	color: #47e6cb;
    text-decoration: none;
	font-size: 140%;
}
a.sub-menu:hover{
    color: blue;
}

/* Order Section */
table{
    width: 60%;
    position: relative;
    margin: 30px auto;
    border-collapse: collapse;
    border: 1px solid gray;
}
th{
    background: #4646bd;
    height: 50px;
}

.tdone{
	width: 10%;
}    
.tdtwo{
    width: 20%;
}

td{
    height: 30px;       
    text-align: center;
    border: 1px solid #ccc;
}
.num{
    display: inline-block;
    width: 50px;
}
input{
    height: 30px;
}
.talast{
    text-align: center;
}
